{% spaceless %}
    {% set current_route = app.request.get('_route') %}
    <div class="container">
        <div class="nav-wrapper">
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <a href="{{ path('home') }}" class="brand-logo">ICT-Scouts</a>
            <ul class="right hide-on-med-and-down">
                {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li><a href="{{ url('login') }}">Login</a></li>
                {% else %}
                    {% if is_granted('ROLE_TALENT') %}
                        <li {% if current_route == 'profile_show' %}class="active"{% endif %}><a href="{{ path('profile_show') }}">Profil</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li {% if current_route == 'admin_home' %}class="active"{% endif %}><a href="{{ path('admin_home') }}">Admin</a></li>
                    {% endif %}
                    <li><a href="{{ url('logout') }}">Logout</a></li>
                {% endif %}
            </ul>
            <ul class="side-nav" id="nav-mobile">
                <li {% if current_route == 'home' %}class="active"{% endif %}><a href="{{ url('home') }}">Startseite</a></li>
                {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li><a href="{{ url('login') }}">Login</a></li>
                {% else %}
                    {% if is_granted('ROLE_TALENT') %}
                        <li {% if current_route == 'profile_show' %}class="active"{% endif %}><a href="{{ path('profile_show') }}">Profil</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li {% if current_route == 'admin_home' %}class="active"{% endif %}><a href="{{ path('admin_home') }}">Admin</a></li>
                    {% endif %}
                    <li><a href="{{ url('logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endspaceless %}
