{% extends '@App/base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Admin</h1>
        <div class="row">
            {#<!-- Update users -->#}
            {#<div class="col s12 m4">#}
                {#<div class="card blue-grey darken-1">#}
                    {#<div class="card-content white-text">#}
                        {#<span class="card-title">Benutzer Abgleichen</span>#}
                        {#<p>Alle Benutzer mit Google Abgleichen.</p>#}
                    {#</div>#}
                    {#<div class="card-action">#}
                        {#<a href="{{ url('admin_user_sync') }}">Aktion ausführen</a>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            <!-- Manage Modules -->
            <div class="col s12 m4">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Module Verwalten</span>
                        <p>Verwalten der Module</p>
                    </div>
                    <div class="card-action">
                        <a href="{{ url('admin.module.index') }}">Aktion ausführen</a>
                    </div>
                </div>
            </div>
            <!-- Manage Schools -->
            <div class="col s12 m4">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Schulen Verwalten</span>
                        <p>Verwalten der Schulen</p>
                    </div>
                    <div class="card-action">
                        <a href="{{ url('admin.school.index') }}">Aktion ausführen</a>
                    </div>
                </div>
            </div>
            <!-- Manage Events -->
            <div class="col s12 m4">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Events Verwalten</span>
                        <p>Verwalten der Events</p>
                    </div>
                    <div class="card-action">
                        <a href="{{ url('admin.event.index') }}">Aktion ausführen</a>
                    </div>
                </div>
            </div>
            <!-- /Uspate users -->
            {#<!-- Userlist -->#}
            {#<div class="col s12 m4">#}
                {#<div class="card blue-grey darken-1">#}
                    {#<div class="card-content white-text">#}
                        {#<span class="card-title">Benutzer Anzeigen</span>#}
                        {#<p>Zeigt eine Liste aller Benutzer.</p>#}
                    {#</div>#}
                    {#<div class="card-action">#}
                        {#<a href="{{ url('admin_user_sync') }}">Aktion ausführen</a>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<!-- /Userlist -->#}
        </div>
    </div>
{% endblock %}
